.bodyMap{
	width: 1190px;
	height: 608px;	
	background-color: gray;
	border: 2px solid black;
	position: relative;
	top: 50px;
	
	
}

.zoom_out{
	zoom:-20%;
	-moz-transform: -scale(0.20);
	-webkit-transform: -scale(0.20);
}
.zoom_in{
	zoom:200%;
	-moz-transform: scale(2.0);
	-webkit-transform: scale(2.20);
}
.createBackgroundButton {
	
	width: 30px;
	height: 30px;
	background-color: black;
	position: relative;
	left:10px;
	top:20px;
	float:right;
}

.canvas{
	width: 1188px;
	height: 600px;
	position: relative;
	
}

#map.canvas{
	width: 1185px;
	height: 604px;
	background-color:black;
	/* background-image:url('../images/grade.png') ; */ 
	top: 0px;
	left: 0px;
	border: 2px solid gray;
}
#DrawArea.canvas{
	width: 1170px;
	height: 590px;
	background-image:url('../images/grade.png');
	top: 7px;
	left: 7px;
	
}
#quadroLimitador.canvas {
	background-color:red;
	overflow:hidden;
		
	
}

.bloco{
	width: 66px;
	height: 66px;
	background-color:brown;
	position: relative;
	/* top: 89px;
	left: 113px; */
	border: 2px solid black;
	left:250px;
	top:-80px;
	
}
.qrCode{
	width: 26px;
	height: 26px;
	background-color:white;
	position: relative;
	/* top: 89px;
	left: 113px; */
	border: 4px groove black;
	left:380px;
	top:-110px;
		
}
.shelf{
	width: 26px;
	height: 26px;
	background-color:red;
	position: relative;
	/* top: 89px;
	left: 113px; */
	border: 4px groove black;
	left:480px;
	top:-145px;
		
}
.label{
	position: relative;
	top: 1px;
	left: 1px;
			
}

.menu{
	background-color:gray; 
	height: 100px;
	width:1186px;
	position: relative;
	top: 0px;
	border: 2px solid black;
	float:left;
}
#statusObjects{
	background-color:gray; 
	height: 100px;
	width:204px;
	position: relative;
	top: 0px;
	border: 2px solid black;
	
}
#statusObjects h1, p{
	color:white;
	position:relative;
	top:-20px;
	left:5px;
	
	}
#statusObjects p{
	top:-40px;
	left:5px;
	
	
}

#SaveButton{
	width: 60px;
	height: 26px;
	background-color:white;
	position: relative;
	/* top: 89px;
	left: 113px; */
	border: 2px solid black;
	left:10px;
	top:10px;
}
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-resizable { position: absolute;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }