@CHARSET "UTF-8";

#tableChosen{
	font-size:82px;
	color:#481925;
	border: 15px;
	padding: 20px;
	border-color: #481925;
	
}

#tableChosen td{
	
	padding:20px;
		
}

#tableChosen tr{
	
	background-color:white; 
		
}
#titulos{
	font: bold;
	color: green;
}