@CHARSET "UTF-8";

#tableSelected{
	font-size:82px;
	color:#481925;
	border: 15px;
	padding: 20px;
	border-color: #481925;
	
	
}

#tableSelected td{
	
	padding:20px;
		
}
#tableSelected tr{
	
	background-color:white; 
		
}
#tableSelected tr:hover{
	
	background-color:#474747;
	 
		
}
